*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

@font-face {
  font-family: Augsburger Schrift CAT;
  src: url(../fonts/AugsburgerSchriftCAT.ttf);
}

.container {
  background: #87879c;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr;
}

.calculator{
  background: #53535C;
  width: 280px;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;

  padding: 1.2rem;

  border: 2px solid;
  border-radius: 8px;

  filter: drop-shadow(3px 3px 0px);
}

button{
  background: #F0F0F0;
  font-size: 1rem;
  text-align: center;

  padding: 16px 0;
  
  cursor: pointer;
  
  border: 2px solid;
  border-radius: 3px;
  
}

button:hover{
  transition: 0.4s;
  background: #CCCCCC;
}

button.wide {
  flex-basis: calc(50% - 6px); 
  grid-column: span 2;
}

button.tall {
  align-self: stretch;
  height: auto;
  
  grid-row: span 2;
}

.clear,
.backspace{
  background: #FF3B30;
  color: #F0f0f0;
}

.clear:hover,
.backspace:hover{
  background: #d32016;
}

.calculate{
  background: #FFC830;
}

.calculate:hover{
  background: #D8A61C;
}

.operator{
  background: #505a64;
  color: #F0f0f0;
  border: 2px solid black;
}

.operator:hover{
  background: #7B7B88;
}

.display{
  background: #aae0d7;
  text-align: end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  grid-column: 1 / -1;

  padding: 0.65rem 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;


  border: 2px solid;
  border-radius: 3px;
}

footer{
  margin: 1rem;
  text-align: center;
}

footer img{
  transform: scale(1.3);
}